.about-page{
    min-height:600px;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    padding-top: 120px;
    color:white;
}

.about-page h1{
    text-align:center;
    margin-bottom:0;
}